html {
  height: 100%;
  width: 100%;
}

body{
  background-color: aquamarine;
}

h1 {
  text-align: center;
  margin: 35px;
  font-weight: bold;
  border: solid white;
  border-radius: 25px;
  margin-left: 400px;
  margin-right: 400px;
}

h2 {
  font-weight: bold;
  text-align: center;
}

p {
  font-family: Georgia;
  padding: 15px;
  margin-left: 400px;
  margin-right: 400px;
  height: 200px;
  text-align: center;
}

li {
  font-family: Arial;
  color: black;
  font-weight: bold;
  font-size: 18pt;
}

#date {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

